[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/hugo-profile"]
	path = quickstart/themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
